.color-28 {
  color: #282828;
}
.color-96 {
  color: #969696;
}
.color-fff {
  color: #fff;
}
.bg-fff {
  background-color: #fff;
}
.color-ff649c {
  color: #ff649c;
}
.bg-ff649c {
  background-color: #ff649c;
}

.color-d8 {
  color: #d8d8d8;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.bg-FFE7EF {
  background-color: #ffe7ef;
}

.bg-f8f8f8 {
  background-color: #f8f8f8;
}

.color-ff4400 {
  color: #ff4400;
}
.color-444 {
  color: #444444;
}
.bg-f3f3f3 {
  background-color: #f3f3f3;
}
.bg-f5f5f5 {
}
.bg-feebe4 {
  background-color: #feebe4;
}
