.fl {
  float: left;
}

.fr {
  float: right;
}

.f-row {
  @extend .flex;
  flex-direction: row;
}

.f-col {
  @extend .flex;
  flex-direction: column;
}

.f1 {
  flex: 1;
}

.flex {
  display: flex;
}

.fw {
  @extend .flex;
  flex-wrap: wrap;
}

.fnw {
  @extend .flex;
  flex-wrap: nowrap;
}

.frb {
  @extend .f-row;
  justify-content: space-between;
}
.fre {
  @extend .f-row;
  align-items: flex-end;
}

.fbc {
  @extend .f-col;
  justify-content: space-between;
}

.fc {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.fca {
  @extend .f-col;
  align-items: center;
}

.fcj {
  @extend .f-col;
  justify-content: center;
}
.fra {
  @extend .f-row;
  align-items: center;
}

.frj {
  @extend .f-row;
  justify-content: center;
}

// 平分
.fsa {
  @extend .flex;
  justify-content: space-around;
}
// zlf
.a-c {
  align-items: center;
}

.j-c {
  justify-content: center;
}

.d-c {
  flex-direction: column;
}

.s-b {
  justify-content: space-between;
}
